
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
.LOGO
{
  margin-left: 450px;
  border-radius: 50%;
  box-shadow: 5px 5px 0px #424242;
  float:left
}
.titulo{
  background: #363636;
  height: 80px;
  font-size: 30px;
  color :white;
}
.INICIO{
	
	padding:0px 150px;  /*height = altura   width = anchura padding =relleno*/
	float: right;	
	
}
body{
	 background:url(../fondos/Minimalist-Desktop.png);
	 background-repeat: no-repeat;
	 font-family: 'arial';/*fuente*/
}
.wrap{
	width: 100%;
	max-width: 90%;
	margin: 30px auto;/*auto=centrar*/
}
ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}
ul.tabs li{
	width: 25%;

}

ul.tabs li a{
	color:#fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px ;
}
.active{
	background: #0984cc;
}
.secciones{
	width: 90%;
	margin:0px 75px;
	background: #ffffff;
}
.secciones article{
	padding: 40px;
}
.secciones article p{
	width: 100%;
	text-align: justify; /*separa las lineas*/
}
/*ul.tabs li a .tab-text{} separar logos*/
